a,
a:focus,
a:hover {
  color: #ccc;
}

html,
body {
  height: 100%;
  background-color: #333;
  color: #fff;
}

.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 0.25rem solid transparent;
}

.nav .nav-link:hover,
.nav .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav .active {
  color: #fff;
  border-bottom-color: #fff;
}

footer {
  color: rgba(255, 255, 255, 0.5);
}

.form-check {
  display: inline;
}

.form-control {
  margin: auto;
  text-align: center;
  width: 200px;
}

button {
  margin: 4px;
}

.radio-box {
  margin-bottom: 6px;
}

.form-group {
  margin: 0;
}
